.bottom{
    position: fixed;
    left: 350px;
    right: 220px;
    height: 40px;
    bottom: 12px;
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
    border: 1px solid  rgb(53, 53, 53);
}